@{
    ViewData["Title"] = "Plugin1";
}
@model MessageModel

<p>@Model.Message</p>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Message" />
    <button type="submit">Submit</button>
</form>
